* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  /* overflow-y: scroll; */
}

body {
  scroll-behavior: smooth;
  font-size: 16px;
  background: rgb(29, 33, 36);
}

/*NAV BAR*/

header {
  background: rgba(19, 51, 75, 0.863);
  text-align: center;
  height: 70px;
  width: 100%;
  position: fixed;
  z-index: 25;
}

.toggler {
  display: none;
}

.logo {
  display: flex;
  width: 60px;
  height: 70px;
}

nav ul {
  position: fixed;
  width: 50%;
  height: 250px;
  padding: 16px;
  background: rgba(19, 51, 75, 0.863);
  list-style: none;
  right: -100%;
  transition: all 0.5s;
}

nav ul li {
  margin-bottom: 16px;
  margin-left: 16px;
}

nav ul li a {
  color: white;
  line-height: 30px;
  text-decoration: none;
  font-size: 20px;
  z-index: 1;
  text-shadow: 0 0 3px #ff0000;
}

nav ul li a:hover {
  transition: ease-in 0.3s;
  background-color: rgb(202, 29, 29);
  border-radius: 10px;
  padding: 8px 12px;
  text-shadow: 0 0 3px #ff0000;
}

.toggler:checked ~ nav ul {
  right: 0;
}

.click {
  position: absolute;
  font-size: 30;
  color: white;
  text-shadow: 2px 2px 4px rgba(31, 31, 31, 0.658);
  top: 0;
  right: 0;
  margin-right: 15px;
  margin-top: 5px;
  height: 100%;
  display: flex;
  align-items: center;
}

.click i {
  font-size: 26px;
  margin-right: 14px;
}

/* MYPIC STYLE */

.my-pic {
  padding-top: 150px;
}

.my-pic img {
  width: 250px;
  height: 280px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border: 8px solid rgba(17, 78, 128, 0.644);
  box-shadow: 0 0 35px 26px rgb(85, 130, 167);
  position: relative;
  opacity: 0.9;
  cursor: pointer;
}

.my-pic img:hover {
  transform: scale(1.1);
  box-shadow: 0px 2px 20px #fff;
  transition: ease-in 0.5s;
}

/* NAME STYLE */

.my-name {
  color: aliceblue;
  font-size: 12px;
  text-align: center;
  line-height: 35px;
  margin-top: 30px;
}

.my-name h1 {
  text-transform: uppercase;
  color: #0cf0c2;
}

.my-name p {
  visibility: hidden;
}

/* ICONS STYLE */

.icons {
  text-align: center;
}
.btn {
  display: inline-block;
  background: #f1f1f1;
  width: 40px;
  height: 40px;
  border-radius: 30%;
  margin: 10px 5px;
  box-shadow: 0 5px 15px -5px white;
  color: #3498db;
  overflow: hidden;
  position: relative;
}

.btn i {
  line-height: 40px;
  font-size: 16px;
  transition: 0.3s ease-in;
}

.btn:hover i {
  transform: scale(1.3);
  color: #f1f1f1;
}

.btn::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 55px;
  background: #3498db;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

.btn:hover::before {
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}

@keyframes aaa {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    left: -10%;
    top: -10%;
  }
}

/* ABOUT STYLE */

.about-content {
  margin-top: 30px;
  padding-bottom: 20px;
  text-align: center;
  color: #f1f1f1;
  background-color: rgba(117, 58, 151, 0.12);
}

.about-content i {
  color: #2980b9;
  font-size: 26px;
  margin-top: 20px;
}

.about-content h2 {
  color: #f1f1f1;
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 24px;
}

.about-content p,
span {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 85%;
  margin-left: 7.5%;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.about-content span {
  color: #2980b9;
  font-size: 24px;
}

/* SKILLS STYLE */

.my-skills {
  background: #101010;
  padding-top: 10px;
  padding-bottom: 10px;
}
.skill-icon img {
  width: 30px;
  height: 30px;
  display: block;
  margin: 20px auto 14px;
  border-radius: 20%;
}

.skill-icon h2 {
  color: #f1f1f1;
  font-size: 24px;
  text-align: center;
}

/* SKILLS PROGRESS BAR */

.container .card {
  position: relative;
  display: block;
  margin: 0px auto;
  width: 250px;
  height: 300px;
  background: linear-gradient(0deg, #1b1b1b, #222, #1b1b1b);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
}

.container .card:hover {
  transform: translate(-10px, -10px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

.container .card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.03);
}

.percent {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: inset 0 0 50px #000;
}

.percent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.percent .number h2 {
  color: rgb(202, 199, 199);
  font-weight: 700;
  font-size: 40px;
  transition: 0.5s;
}

.card:hover .percent .number h2 {
  color: #fff;
  font-size: 48px;
}

.percent .number h2 span {
  font-size: 24px;
  color: rgb(202, 199, 199);
}

.card:hover .percent .number h2 span {
  color: #fff;
}

.text {
  position: relative;
  color: rgb(202, 199, 199);
  margin-top: 20px;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s;
}

.card:hover .text {
  color: #fff;
}
svg {
  position: relative;
  width: 150px;
  height: 150px;
}

svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #191919;
  stroke-width: 10;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}

svg circle:nth-child(2) {
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

.card:nth-child(1) svg circle:nth-child(2) {
  stroke-dashoffset: calc((440 * 15) / 100);
  stroke: #00ff43;
}

.card:nth-child(2) svg circle:nth-child(2) {
  stroke-dashoffset: calc((440 * 30) / 100);
  stroke: #00a1ff;
}
.card:nth-child(3) svg circle:nth-child(2) {
  stroke-dashoffset: calc((440 * 45) / 100);
  stroke: #ff04f7;
}

.container .card {
  transform: scale(0.8);
}

/*TOOLS STYLE */

.my-tools {
  padding-top: 10px;
  padding-bottom: 10px;
}
.tool-icon img {
  width: 70px;
  height: 40px;
  display: block;
  margin: 20px auto 14px;
  border-radius: 20%;
}

.tool-icon h2 {
  color: #f1f1f1;
  font-size: 24px;
  text-align: center;
}

/* TOOLS PROGRESS BAR */

.container .card-tool {
  position: relative;
  display: block;
  margin: 0px auto;
  width: 250px;
  height: 300px;
  background: linear-gradient(0deg, #1b1b1b, #222, #1b1b1b);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
}

.container .card-tool:hover {
  transform: translate(-10px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

.container .card-tool::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.03);
}

.card-tool:hover .percent .number h2 {
  color: #fff;
  font-size: 48px;
}

.card-tool:hover .percent .number h2 span {
  color: #fff;
}

.card-tool:hover .text {
  color: #fff;
}

.card-tool:nth-child(1) svg circle:nth-child(2) {
  stroke-dashoffset: calc((440 * 30) / 100);
  stroke: #f39c12;
}

.card-tool:nth-child(2) svg circle:nth-child(2) {
  stroke-dashoffset: calc((440 * 25) / 100);
  stroke: #9b59b6;
}

.container .card-tool {
  transform: scale(0.8);
}

/* CONTACT STYLES */

.my-contact {
  text-align: center;
  background: #171a1b;
  padding-top: 30px;
  padding-bottom: 16px;
  border-bottom: 4px solid white;
}

.contact-icon i {
  margin: 0 auto;
  background: #3498db;
  width: 35px;
  height: 30px;
  border-radius: 5px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1e272e;
}

.contact-icon h2 {
  color: #f1f1f1;
  font-size: 24px;
  margin: 16px 0;
}

.contact-wrap {
  display: flex;
  width: 96%;
  margin-left: 2%;
  justify-content: center;
  padding-top: 14px;
  color: white;
  line-height: 36px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 12px;
}

.detail-icon .fa-map-marker-alt {
  color: rgb(255, 0, 0);
  position: relative;
  left: -10px;
}

.detail-icon .fa-phone {
  color: #2980b9;
  position: relative;
  left: -10px;
}

.detail-icon p {
  color: #8e44ad;
  font-size: 18px;
}

.detail-icon p:first-child {
  position: relative;
  left: -8px;
}

.detail p:first-child {
  padding-left: 18px;
}

/* COPYRIGHT STYLE */

footer {
  text-align: center;
  color: #ffffff;
  margin: 14px 0;
  font-size: 16px;
  font-weight: bold;
}

footer i {
  color: #0984e3;
}

/*Desktop Screen Format*/

@media screen and (min-width: 800px) {
  /*NAV BAR*/

  .click {
    display: none;
  }

  header {
    display: grid;
  }

  nav {
    display: flex;
    grid-column: 3/4;
    justify-content: flex-end;
    align-items: center;
    transform: scale(1.1);
    margin-right: 50px;
  }

  nav ul {
    all: unset;
    list-style: none;
    display: flex;
  }

  nav ul li {
    margin-top: 16px;
    margin-right: 16px;
    margin-left: 50px;
  }

  /* MYPIC STYLE */
  .home {
    display: flex;
    width: 80%;
    margin-left: 10%;
    justify-content: space-between;
    padding-bottom: 100px;
  }

  .home .my-pic {
    order: 2;
    margin: 35px 10px 0 0;
  }

  .home .my-pic img {
    width: 300px;
    height: 340px;
    border-radius: 20%;
    border: 5px solid rgba(17, 78, 128, 0.644);
  }

  .my-pic img:hover {
    transform: scale(1.05);
  }

  /* NAME STYLE */

  .content {
    margin-top: 200px;
    margin-left: -40px;
  }

  .my-name p {
    visibility: visible;
  }

  .my-name h1 {
    font-size: 28px;
    color: #0cf0c2;
  }

  .my-name p {
    text-align: left;
    text-transform: capitalize;
    color: aliceblue;
    margin-bottom: 10px;
    font-size: 25px;
  }

  .my-name h2 {
    margin: 10px 0;
    font-size: 26px;
  }

  /* ICONS STYLE */

  .icons {
    transform: scale(1.1);
  }

  /* ABOUT STYLE */

  .about-content i {
    font-size: 30px;
    margin-top: 24px;
  }

  .about-content h2 {
    margin-top: 16px;
    margin-bottom: 18px;
    font-size: 30px;
  }

  .about-content p,
  span {
    line-height: 40px;
    font-size: 22px;
  }

  .about-content span {
    font-size: 28px;
  }

  /* SKILLS STYLE */

  .my-skills {
    padding-bottom: 40px;
  }

  .skill-icon img {
    width: 40px;
    height: 40px;
  }

  .skill-icon h2 {
    font-size: 30px;
  }
  .container {
    display: flex;
    justify-content: space-between;
  }

  .container .card {
    margin-top: 20px;
    transform: scale(1);
  }

  /* TOOL STYLE */

  .my-tools {
    padding-bottom: 40px;
  }

  .tool-icon h2 {
    font-size: 30px;
  }

  .container .card-tool {
    margin-top: 20px;
    transform: scale(1);
  }

  /* CONTACT STYLES */

  .contact-icon h2 {
    font-size: 30px;
  }

  .contact-wrap {
    transform: scale(1.1);
  }
}
